# ignores
outputs/*
jobs/*
data/*
node_modules/*
frontend/node_modules/*
frontend/dist/*
frontend/.vite/*
.venv/*

# keep the folders themselves
!outputs/.gitkeep
!data/.gitkeep
!jobs/.gitkeep

# misc ignores
.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
.env
.vscode/
.cache/
*.log
